@using BigClubDebate.Data
@using BigClubDebate.Data.Model

    <section class="stats-section fw-block" style="margin-bottom: 25px;">
        <div class="year-bar fw-block stats-header">
            <p class="stats team1">est <em>@Team1.CompetitionStart.ToString("yyyy")</em></p>
            <p class="stats team2">est <em>@Team2.CompetitionStart.ToString("yyyy")</em></p>
            <h2>@SectionName</h2>
        </div>
        <div class="fw-block has-full-stats">
            <div class="stats-block-wrap fw-block all-comps @MoreInfo">
                @ChildContent
            </div>
            @if (Expandable)
            {
                <div class="moreInfoBar" @onclick="MoreClicked">
                    <img height="40px" src="images/DownArrow.png" />
                </div>
            }
        </div>
    </section>

@code {
    [Parameter]
    public TeamStats Team1 { get; set; }
    [Parameter]
    public TeamStats Team2 { get; set; }

    [Parameter]
    public string Since { get; set; }
    [Parameter]
    public bool Expandable { get; set; } = true;

    [Parameter]
    public string SectionName { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public string moreInfo { get; set; } = "more";
    public string MoreInfo => Expandable ? moreInfo : "";

    void MoreClicked(MouseEventArgs e)
    {
        moreInfo = Expandable ? moreInfo == "more" ? "less" : "more" : "";
    }
}