@using BigClubDebate.Data
@using BigClubDebate.Data.Model
@using BigClubDebate.Data.Model.DataSources
@using BigClubDebate.Data.Model.DataTypes

<section class="stats-section fw-block bigGamePoints" id="bigGamePointsTotal" style="margin-bottom: 25px;">

    <h2></h2>
    <div class="fw-block has-full-stats" @onclick="BClick">
        <div class="stats-block-wrap fw-block">

            <article class="stats-block container">
                <h3 class="middle-text">
                    big game points
                </h3>

                <h4>team1 Stats</h4>
                <ul class="team1 stats">
                    <li class="apps">
                    </li>
                    <li class="assists">
                    </li>
                    <li class="goals">
                        <span class="num">540</span> <span class="type">points</span>
                    </li>
                </ul>

                <h4>team2 Stats</h4>
                <ul class="team2 stats">
                    <li class="goals">
                        <span class="num">800</span> <span class="type">points</span>

                    </li>
                    <li class="assists">

                    </li>
                    <li class="apps">

                    </li>
                </ul>
            </article>

            <table id="bigGamePointsEditor" class="@(visibility ? "visible" : "")">
                <thead>
                    <tr><td colspan="2"></td><td colspan="2">team1</td><td colspan="2">team2</td></tr>
                    <tr><td>stat name</td><td>multiplier</td><td>points</td><td>total</td><td>points</td><td>total</td></tr>
                </thead>
                <tbody>
                    <tr><td>league wins</td><td>100</td><td>0</td><td>40</td><td>0</td><td>40</td></tr>
                    <tr><td>fa cup wins</td><td>90</td><td>90</td><td>180</td><td>0</td><td>40</td></tr>
                    <tr><td>league cup wins</td><td>70</td><td>70</td><td>140</td><td>0</td><td>40</td></tr>
                </tbody>
            </table>
        </div>

        <div class="moreInfoBar">
            <img height="40px" src="images/DownArrow.png" />
        </div>

    </div>
</section>

@code
{
    bool visibility = false;
    void BClick()
    {
        visibility = !visibility;
    }

}
